/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.icon_size_l.icon_name_close.icon_theme_alfa-on-white {
  background-image: url("<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1\" viewBox=\"0 0 30 30\"><path fill=\"#0B1F35\" d=\"M23.646 5.646L15 14.293 6.354 5.646l-.708.708L14.293 15l-8.647 8.646.708.708L15 15.707l8.646 8.647.708-.708L15.707 15l8.647-8.646z\"></path></svg>"); }

.icon_size_l.icon_name_close.icon_theme_alfa-on-color {
  background-image: url("<svg viewBox=\"0 0 30 30\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"m23.646 5.646-8.646 8.647-8.646-8.647-.708.708 8.647 8.646-8.647 8.646.708.708 8.646-8.647 8.646 8.647.708-.708-8.647-8.646 8.647-8.646z\" fill=\"#fff\"></path></svg>"); }

.icon_size_m.icon_name_close.icon_theme_alfa-on-white {
  background-image: url("<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><g fill=\"none\" fill-rule=\"evenodd\"><path d=\"M1 0h24v24H1z\"></path><path fill=\"#0B1F35\" fill-rule=\"nonzero\" d=\"M13.003 12.717l7.21 7.21.714-.714-7.21-7.21L21 4.72 20.28 4l-7.283 7.283-7.21-7.21-.714.714 7.21 7.21L5 19.28l.72.72 7.283-7.283z\"></path></g></svg>"); }

.icon_size_m.icon_name_close.icon_theme_alfa-on-color {
  background-image: url("<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><g fill=\"none\" fill-rule=\"evenodd\"><path d=\"M1 0h24v24H1z\"></path><path fill=\"#FFF\" fill-rule=\"nonzero\" d=\"M13.003 12.717l7.21 7.21.714-.714-7.21-7.21L21 4.72 20.28 4l-7.283 7.283-7.21-7.21-.714.714 7.21 7.21L5 19.28l.72.72 7.283-7.283z\"></path></g></svg>"); }

.icon_size_s.icon_name_close.icon_theme_alfa-on-white {
  background-image: url("<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1\" viewBox=\"0 0 18 18\"><path fill=\"#0B1F35\" d=\"M14.646 2.646L9 8.293 3.354 2.646l-.708.708L8.293 9l-5.647 5.646.708.708L9 9.707l5.646 5.647.708-.708L9.707 9l5.647-5.646z\"></path></svg>"); }

.icon_size_s.icon_name_close.icon_theme_alfa-on-color {
  background-image: url("<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1\" viewBox=\"0 0 18 18\"><path fill=\"#FFF\" d=\"M14.646 2.646L9 8.293 3.354 2.646l-.708.708L8.293 9l-5.647 5.646.708.708L9 9.707l5.646 5.647.708-.708L9.707 9l5.647-5.646z\"></path></svg>"); }

.icon_size_xl.icon_name_close.icon_theme_alfa-on-white {
  background-image: url("<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1\" viewBox=\"0 0 36 36\"><path fill=\"#0B1F35\" d=\"M28.146 7.146L18 17.293 7.854 7.146l-.708.708L17.293 18 7.146 28.146l.708.708L18 18.707l10.146 10.147.708-.708L18.707 18 28.854 7.854z\"></path></svg>"); }

.icon_size_xl.icon_name_close.icon_theme_alfa-on-color {
  background-image: url("<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1\" viewBox=\"0 0 36 36\"><path fill=\"#FFF\" d=\"M28.146 7.146L18 17.293 7.854 7.146l-.708.708L17.293 18 7.146 28.146l.708.708L18 18.707l10.146 10.147.708-.708L18.707 18 28.854 7.854z\"></path></svg>"); }

.icon_size_xs.icon_name_close.icon_theme_alfa-on-white {
  background-image: url("<svg viewBox=\"0 0 12 12\" version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\"><g stroke=\"none\" stroke-width=\"1\" fill=\"none\" fill-rule=\"evenodd\"><rect x=\"0\" y=\"0\" width=\"12\" height=\"12\"></rect><polygon fill=\"#0B2135\" points=\"9.528 1.75066 6.028 5.25066 2.528 1.75066 1.75 2.52866 5.25 6.02866 1.75 9.52866 2.528 10.30566 6.028 6.80566 9.528 10.30566 10.306 9.52866 6.805 6.02866 10.306 2.52866\"></polygon></g></svg>"); }

.icon_size_xs.icon_name_close.icon_theme_alfa-on-color {
  background-image: url("<svg viewBox=\"0 0 12 12\" version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\"><g stroke=\"none\" stroke-width=\"1\" fill=\"none\" fill-rule=\"evenodd\"><rect x=\"0\" y=\"0\" width=\"12\" height=\"12\"></rect><polygon fill=\"#FFF\" points=\"9.528 1.75066 6.028 5.25066 2.528 1.75066 1.75 2.52866 5.25 6.02866 1.75 9.52866 2.528 10.30566 6.028 6.80566 9.528 10.30566 10.306 9.52866 6.805 6.02866 10.306 2.52866\"></polygon></g></svg>"); }

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.icon {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat; }

.icon_size_xs {
  width: 12px;
  height: 12px; }

.icon_size_s {
  width: 18px;
  height: 18px; }

.icon_size_m {
  width: 24px;
  height: 24px; }

.icon_size_l {
  width: 30px;
  height: 30px; }

.icon_size_xl {
  width: 36px;
  height: 36px; }

.icon_size_xxl {
  width: 48px;
  height: 48px; }

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.icon-button {
  opacity: .9;
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-property: background, opacity;
  transition-property: background, opacity;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; }

.icon-button, .icon-button *, .icon-button *:before, .icon-button *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.icon-button_hovered,
.icon-button_focused {
  opacity: 1; }

.icon-button_disabled {
  opacity: .25;
  cursor: default; }

.icon-button_size_s {
  width: 30px;
  height: 30px; }

.icon-button_size_m {
  width: 34px;
  height: 40px; }

.icon-button_size_l {
  width: 44px;
  height: 50px; }

.icon-button_size_xl {
  width: 52px;
  height: 60px; }

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.input_theme_alfa-on-color .input__box {
  border-bottom-color: rgba(255, 255, 255, 0.4);
  border-bottom-style: solid;
  border-bottom-width: 1px; }

.input_theme_alfa-on-color .input__control {
  color: white; }

.input_theme_alfa-on-color .input__control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7); }

.input_theme_alfa-on-color .input__control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7); }

.input_theme_alfa-on-color .input__control::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7); }

.input_theme_alfa-on-color .input__control::placeholder {
  color: rgba(255, 255, 255, 0.7); }

.input_theme_alfa-on-color .input__control:-webkit-autofill,
.input_theme_alfa-on-color .input__control:-webkit-autofill:hover,
.input_theme_alfa-on-color .input__control:-webkit-autofill:focus,
.input_theme_alfa-on-color .input__control:-webkit-autofill:active {
  -webkit-text-fill-color: white !important; }

.input_theme_alfa-on-color .input__top,
.input_theme_alfa-on-color .input__sub {
  color: rgba(255, 255, 255, 0.7); }

.input_theme_alfa-on-color.input_has-label .input__control::-webkit-input-placeholder {
  color: transparent; }

.input_theme_alfa-on-color.input_has-label .input__control:-ms-input-placeholder {
  color: transparent; }

.input_theme_alfa-on-color.input_has-label .input__control::-ms-input-placeholder {
  color: transparent; }

.input_theme_alfa-on-color.input_has-label .input__control::placeholder {
  color: transparent; }

.input_theme_alfa-on-color.input_has-label.input_focused .input__control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7); }

.input_theme_alfa-on-color.input_has-label.input_focused .input__control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7); }

.input_theme_alfa-on-color.input_has-label.input_focused .input__control::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7); }

.input_theme_alfa-on-color.input_has-label.input_focused .input__control::placeholder {
  color: rgba(255, 255, 255, 0.7); }

.input_theme_alfa-on-color.input_has-icon .input__icon {
  color: white;
  opacity: .6; }

.input_theme_alfa-on-color.input_focused .input__box {
  border-bottom-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.9); }

.input_theme_alfa-on-color.input_disabled .input__box {
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-bottom-style: dashed; }

.input_theme_alfa-on-color.input_disabled,
.input_theme_alfa-on-color.input_disabled .input__control {
  color: rgba(255, 255, 255, 0.4); }

.input_theme_alfa-on-color.input_disabled .input__control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4); }

.input_theme_alfa-on-color.input_disabled .input__control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4); }

.input_theme_alfa-on-color.input_disabled .input__control::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4); }

.input_theme_alfa-on-color.input_disabled .input__control::placeholder {
  color: rgba(255, 255, 255, 0.4); }

.input_theme_alfa-on-color.input_disabled .input__icon {
  opacity: .25; }

.input_theme_alfa-on-color.input_invalid .input__sub {
  color: #ff5c5c; }

.input_theme_alfa-on-color.input_invalid .input__box {
  border-bottom-color: rgba(255, 92, 92, 0.85); }

.input_theme_alfa-on-color.input_invalid.input_focused .input__box {
  border-bottom-color: rgba(255, 92, 92, 0.85);
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 92, 92, 0.85);
  box-shadow: inset 0 -1px 0 rgba(255, 92, 92, 0.85); }

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.input_theme_alfa-on-white .input__box {
  border-bottom-color: rgba(11, 31, 53, 0.4);
  border-bottom-style: solid;
  border-bottom-width: 1px; }

.input_theme_alfa-on-white .input__control {
  color: rgba(11, 31, 53, 0.95); }

.input_theme_alfa-on-white .input__control::-webkit-input-placeholder {
  color: rgba(11, 31, 53, 0.6); }

.input_theme_alfa-on-white .input__control:-ms-input-placeholder {
  color: rgba(11, 31, 53, 0.6); }

.input_theme_alfa-on-white .input__control::-ms-input-placeholder {
  color: rgba(11, 31, 53, 0.6); }

.input_theme_alfa-on-white .input__control::placeholder {
  color: rgba(11, 31, 53, 0.6); }

.input_theme_alfa-on-white .input__control:-webkit-autofill,
.input_theme_alfa-on-white .input__control:-webkit-autofill:hover,
.input_theme_alfa-on-white .input__control:-webkit-autofill:focus,
.input_theme_alfa-on-white .input__control:-webkit-autofill:active {
  -webkit-text-fill-color: rgba(11, 31, 53, 0.95) !important; }

.input_theme_alfa-on-white .input__top,
.input_theme_alfa-on-white .input__sub {
  color: rgba(11, 31, 53, 0.6); }

.input_theme_alfa-on-white.input_has-label .input__control::-webkit-input-placeholder {
  color: transparent; }

.input_theme_alfa-on-white.input_has-label .input__control:-ms-input-placeholder {
  color: transparent; }

.input_theme_alfa-on-white.input_has-label .input__control::-ms-input-placeholder {
  color: transparent; }

.input_theme_alfa-on-white.input_has-label .input__control::placeholder {
  color: transparent; }

.input_theme_alfa-on-white.input_has-label.input_focused .input__control::-webkit-input-placeholder {
  color: rgba(11, 31, 53, 0.6); }

.input_theme_alfa-on-white.input_has-label.input_focused .input__control:-ms-input-placeholder {
  color: rgba(11, 31, 53, 0.6); }

.input_theme_alfa-on-white.input_has-label.input_focused .input__control::-ms-input-placeholder {
  color: rgba(11, 31, 53, 0.6); }

.input_theme_alfa-on-white.input_has-label.input_focused .input__control::placeholder {
  color: rgba(11, 31, 53, 0.6); }

.input_theme_alfa-on-white.input_has-icon .input__icon {
  color: rgba(11, 31, 53, 0.95);
  opacity: .6; }

.input_theme_alfa-on-white.input_focused .input__box {
  border-bottom-color: rgba(11, 31, 53, 0.9);
  -webkit-box-shadow: inset 0 -1px 0 rgba(11, 31, 53, 0.9);
  box-shadow: inset 0 -1px 0 rgba(11, 31, 53, 0.9); }

.input_theme_alfa-on-white.input_disabled .input__box {
  border-bottom-color: rgba(11, 31, 53, 0.2);
  border-bottom-style: dashed; }

.input_theme_alfa-on-white.input_disabled,
.input_theme_alfa-on-white.input_disabled .input__control {
  color: rgba(11, 31, 53, 0.3); }

.input_theme_alfa-on-white.input_disabled .input__control::-webkit-input-placeholder {
  color: rgba(11, 31, 53, 0.3); }

.input_theme_alfa-on-white.input_disabled .input__control:-ms-input-placeholder {
  color: rgba(11, 31, 53, 0.3); }

.input_theme_alfa-on-white.input_disabled .input__control::-ms-input-placeholder {
  color: rgba(11, 31, 53, 0.3); }

.input_theme_alfa-on-white.input_disabled .input__control::placeholder {
  color: rgba(11, 31, 53, 0.3); }

.input_theme_alfa-on-white.input_disabled .input__icon {
  opacity: .25; }

.input_theme_alfa-on-white.input_invalid .input__sub {
  color: #ff5c5c; }

.input_theme_alfa-on-white.input_invalid .input__box {
  border-bottom-color: rgba(255, 92, 92, 0.85); }

.input_theme_alfa-on-white.input_invalid.input_focused .input__box {
  border-bottom-color: rgba(255, 92, 92, 0.85);
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 92, 92, 0.85);
  box-shadow: inset 0 -1px 0 rgba(255, 92, 92, 0.85); }

@charset "UTF-8";
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.input {
  display: inline-block;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Roboto Rouble', sans-serif;
  font-weight: 400; }

.input, .input *, .input *:before, .input *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.input__inner {
  display: inline-table;
  position: relative;
  width: 100%; }

.input__box {
  overflow: hidden;
  display: table-cell;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-property: border-bottom-color, width, -webkit-box-shadow;
  transition-property: border-bottom-color, width, -webkit-box-shadow;
  transition-property: border-bottom-color, box-shadow, width;
  transition-property: border-bottom-color, box-shadow, width, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  /* TODO @teryaew: add custom easings to styles */
  -webkit-touch-callout: none; }

.input__top {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  transition-property: color, transform;
  transition-property: color, transform, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1); }

.input__sub {
  display: table-caption;
  caption-side: bottom;
  padding-top: 5px;
  padding-right: 12px;
  white-space: normal; }

.input__control {
  display: inline-block;
  position: relative;
  width: 100%;
  /** Если использовать `height: 100%` поле схлопывается в Safari v10.1.2. **/
  min-height: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  font: inherit;
  font-weight: 400;
  line-height: inherit;
  background: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.input__control:invalid {
  -webkit-box-shadow: none;
  box-shadow: none; }

.input__control::-webkit-search-decoration {
  -webkit-appearance: none; }

.input__control::-webkit-search-cancel-button {
  display: none; }

.input__control::-webkit-input-placeholder {
  text-indent: 0; }

.input__control::-moz-placeholder {
  opacity: 1; }

.input__control::-ms-clear {
  display: none; }

.input__control[placeholder],
.input__control::-webkit-input-placeholder {
  text-overflow: ellipsis;
  -webkit-transition: opacity .2s ease-in-out, color .2s ease-in-out;
  transition: opacity .2s ease-in-out, color .2s ease-in-out; }

.input__control[placeholder],
.input__control:-ms-input-placeholder {
  text-overflow: ellipsis;
  -webkit-transition: opacity .2s ease-in-out, color .2s ease-in-out;
  transition: opacity .2s ease-in-out, color .2s ease-in-out; }

.input__control[placeholder],
.input__control::-ms-input-placeholder {
  text-overflow: ellipsis;
  -webkit-transition: opacity .2s ease-in-out, color .2s ease-in-out;
  transition: opacity .2s ease-in-out, color .2s ease-in-out; }

.input__control[placeholder],
.input__control::placeholder {
  text-overflow: ellipsis;
  -webkit-transition: opacity .2s ease-in-out, color .2s ease-in-out;
  transition: opacity .2s ease-in-out, color .2s ease-in-out; }

.input__control:-webkit-autofill,
.input__control:-webkit-autofill:hover,
.input__control:-webkit-autofill:focus,
.input__control:-webkit-autofill:active {
  /* Hack from http://stackoverflow.com/a/29350537 */
  -webkit-transition: background-color 999999s ease-in-out 0s;
  transition: background-color 999999s ease-in-out 0s; }

.input_has-label .input__control::-webkit-input-placeholder {
  opacity: 0; }

.input_has-label .input__control:-ms-input-placeholder {
  opacity: 0; }

.input_has-label .input__control::-ms-input-placeholder {
  opacity: 0; }

.input_has-label .input__control::placeholder {
  opacity: 0; }

.input_has-label.input_focused .input__control::-webkit-input-placeholder {
  opacity: 1; }

.input_has-label.input_focused .input__control:-ms-input-placeholder {
  opacity: 1; }

.input_has-label.input_focused .input__control::-ms-input-placeholder {
  opacity: 1; }

.input_has-label.input_focused .input__control::placeholder {
  opacity: 1; }

.input_has-clear .input__control {
  padding-right: 0;
  text-overflow: ellipsis; }

.input__clear {
  opacity: .6;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: inherit;
  font: inherit;
  background: none;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  -webkit-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out; }

.input__clear:hover {
  opacity: 1; }

.input_has-icon .input__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease; }

.input_has-icon .input__control {
  padding-right: 2px;
  text-overflow: ellipsis; }

.input_width_available {
  width: 100%; }

/* Override table styles by flex */
.input.input_has-addons .input__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 100%; }

.input.input_has-addons .input__control {
  padding-right: 12px; }

.input.input_has-addons .input__addons_left + .input__control {
  padding-right: 0;
  padding-left: 12px; }

/* If has left & right addons */
.input.input_has-addons .input__control:nth-child(2):nth-last-child(2) {
  padding-right: 12px; }

.input__addons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  /* Avoid overflow cutting of addons in IE11 */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.input_type_hidden {
  display: none !important; }

/* reset for ios */
.input__control:disabled {
  opacity: 1; }

.input_focused {
  z-index: 1; }

.input_disabled:before,
.input_disabled .input__clear {
  display: none; }

.input_disabled .input_has-value::-webkit-input-placeholder {
  opacity: .6; }

.input_disabled .input_has-value:-ms-input-placeholder {
  opacity: .6; }

.input_disabled .input_has-value::-ms-input-placeholder {
  opacity: .6; }

.input_disabled .input_has-value::placeholder {
  opacity: .6; }

.input_disabled .input__box,
.input_disabled .input__control {
  cursor: default; }

.input_type_password .input__control {
  text-overflow: clip; }

.input_size_s.input_has-label {
  padding-top: 9px; }

.input_size_s .input__top {
  line-height: 30px; }

.input_size_s.input_focused .input__top, .input_size_s.input_has-value .input__top {
  -webkit-transform: scale(0.92308) translateY(-22px);
  transform: scale(0.92308) translateY(-22px); }

.input_size_s .input__top,
.input_size_s .input__box {
  font-size: 13px; }

.input_size_s .input__box {
  height: 30px; }

.input_size_s .input__sub {
  font-size: 12px; }

.input_size_s .input__control {
  padding: 7px 0; }

.input_size_s.input_has-clear .input__box,
.input_size_s.input_has-icon .input__box {
  padding-right: 30px; }

.input_size_s.input_has-icon .input__icon {
  width: 30px;
  height: 30px;
  line-height: 28px; }

.input_size_m.input_has-label {
  padding-top: 6px; }

.input_size_m .input__top {
  line-height: 40px; }

.input_size_m.input_focused .input__top, .input_size_m.input_has-value .input__top {
  -webkit-transform: scale(0.8125) translateY(-30px);
  transform: scale(0.8125) translateY(-30px); }

.input_size_m .input__top,
.input_size_m .input__box {
  font-size: 16px; }

.input_size_m .input__box {
  height: 40px; }

.input_size_m .input__sub {
  font-size: 13px; }

.input_size_m .input__control {
  padding: 10px 0; }

.input_size_m.input_has-clear .input__box,
.input_size_m.input_has-icon .input__box {
  padding-right: 34px; }

.input_size_m.input_has-icon .input__icon {
  width: 34px;
  height: 40px;
  line-height: 38px; }

.input_size_l.input_has-label {
  padding-top: 14px; }

.input_size_l .input__top {
  line-height: 50px; }

.input_size_l.input_focused .input__top, .input_size_l.input_has-value .input__top {
  -webkit-transform: scale(0.88889) translateY(-40px);
  transform: scale(0.88889) translateY(-40px); }

.input_size_l .input__top,
.input_size_l .input__box {
  font-size: 18px; }

.input_size_l .input__box {
  height: 50px; }

.input_size_l .input__sub {
  font-size: 16px; }

.input_size_l .input__control {
  padding: 14px 0; }

.input_size_l.input_has-clear .input__box,
.input_size_l.input_has-icon .input__box {
  padding-right: 44px; }

.input_size_l.input_has-icon .input__icon {
  width: 44px;
  height: 50px;
  line-height: 48px; }

.input_size_xl.input_has-label {
  padding-top: 13px; }

.input_size_xl .input__top {
  line-height: 60px; }

.input_size_xl.input_focused .input__top, .input_size_xl.input_has-value .input__top {
  -webkit-transform: scale(0.81818) translateY(-50px);
  transform: scale(0.81818) translateY(-50px); }

.input_size_xl .input__top,
.input_size_xl .input__box {
  font-size: 22px; }

.input_size_xl .input__box {
  height: 60px; }

.input_size_xl .input__sub {
  font-size: 18px; }

.input_size_xl .input__control {
  padding: 17px 0; }

.input_size_xl.input_has-clear .input__box,
.input_size_xl.input_has-icon .input__box {
  padding-right: 52px; }

.input_size_xl.input_has-icon .input__icon {
  width: 52px;
  height: 60px;
  line-height: 58px; }

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Roboto Rouble', sans-serif;
  text-align: center;
  white-space: nowrap;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-property: background, border-color, color, width;
  transition-property: background, border-color, color, width;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  border-radius: 4px; }

.button,
.button *,
.button *:before,
.button *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.button + .button {
  margin-left: 12px; }

.button__addon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.button__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.button__text {
  font-weight: 400;
  line-height: normal;
  padding: 0 0 1px; }

.button__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 10px; }

.button_width_available {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.button_type_link {
  text-decoration: none; }

.button_focused {
  z-index: 1; }

.button_disabled {
  cursor: default;
  pointer-events: none; }

.button_disabled .button__icon {
  opacity: .25; }

.button_view_action .button__text,
.button_view_extra .button__text,
.button_view_rounded .button__text {
  font-weight: 500; }

.button > :last-child {
  padding-right: 0; }

.button_size_s {
  height: 30px;
  padding: 0 15px;
  font-size: 13px; }

.button_size_s .button__icon {
  margin-left: -4px; }

.button_size_m {
  height: 40px;
  padding: 0 20px;
  font-size: 16px; }

.button_size_m .button__icon {
  margin-left: -8px; }

.button_size_l {
  height: 50px;
  padding: 0 25px;
  font-size: 18px; }

.button_size_l .button__icon {
  margin-left: -12px; }

.button_size_xl {
  height: 60px;
  padding: 0 30px;
  font-size: 22px; }

.button_size_xl .button__icon {
  margin-left: -16px; }

.button_view_rounded.button_size_s {
  height: 33px;
  padding: 0 22.5px;
  border-radius: 16.5px; }

.button_view_rounded.button_size_m {
  height: 44px;
  padding: 0 30px;
  border-radius: 22px; }

.button_view_rounded.button_size_l {
  height: 55px;
  padding: 0 37.5px;
  border-radius: 27.5px; }

.button_view_rounded.button_size_xl {
  height: 66px;
  padding: 0 45px;
  border-radius: 33px; }

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.button_theme_alfa-on-color {
  color: white;
  background: transparent;
  border-color: rgba(255, 255, 255, 0.4);
  border-style: solid;
  border-width: 1px; }

.button_theme_alfa-on-color.button_hovered {
  border-color: rgba(255, 255, 255, 0.9); }

.button_theme_alfa-on-color.button_focused {
  border-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: inset 0 0 0 1px white;
  box-shadow: inset 0 0 0 1px white; }

.button_theme_alfa-on-color.button_focused.button_hovered {
  border-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: inset 0 0 0 1px white;
  box-shadow: inset 0 0 0 1px white; }

.button_theme_alfa-on-color.button_pressed,
.button_theme_alfa-on-color:active {
  background: rgba(0, 0, 0, 0.1);
  border-color: rgba(255, 255, 255, 0.9); }

.button_theme_alfa-on-color.button_checked,
.button_theme_alfa-on-color.button_view_action {
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5); }

.button_theme_alfa-on-color.button_checked.button_hovered, .button_theme_alfa-on-color.button_view_action.button_hovered {
  background: rgba(255, 255, 255, 0.3); }

.button_theme_alfa-on-color.button_checked.button_pressed,
.button_theme_alfa-on-color.button_checked:active,
.button_theme_alfa-on-color.button_view_action.button_pressed,
.button_theme_alfa-on-color.button_view_action:active {
  background: rgba(255, 255, 255, 0.15); }

.button_theme_alfa-on-color.button_checked.button_focused, .button_theme_alfa-on-color.button_view_action.button_focused {
  border-color: rgba(255, 255, 255, 0.9); }

.button_theme_alfa-on-color.button_view_extra,
.button_theme_alfa-on-color.button_view_rounded {
  background: rgba(240, 50, 38, 0.85);
  border-color: rgba(240, 50, 38, 0.85);
  color: white; }

.button_theme_alfa-on-color.button_view_extra.button_hovered, .button_theme_alfa-on-color.button_view_rounded.button_hovered {
  background: #f03226;
  border-color: #f03226; }

.button_theme_alfa-on-color.button_view_extra.button_focused, .button_theme_alfa-on-color.button_view_rounded.button_focused {
  border-color: white; }

.button_theme_alfa-on-color.button_view_extra.button_pressed,
.button_theme_alfa-on-color.button_view_extra:active,
.button_theme_alfa-on-color.button_view_rounded.button_pressed,
.button_theme_alfa-on-color.button_view_rounded:active {
  background: #9e0c00;
  border-color: #9e0c00; }

.button_theme_alfa-on-color.button_pseudo {
  border-style: dashed; }

.button_theme_alfa-on-color.button_pseudo.button_focused {
  border-style: solid;
  border-color: white;
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.9); }

.button_theme_alfa-on-color.button_pseudo.button_focused.button_hovered {
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.7); }

.button_theme_alfa-on-color.button_disabled {
  background: rgba(255, 255, 255, 0.08);
  border-color: transparent; }

.button_theme_alfa-on-color.button_disabled .button__text {
  color: rgba(255, 255, 255, 0.4); }

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.button_theme_alfa-on-white {
  color: rgba(11, 31, 53, 0.95);
  background: transparent;
  border-color: rgba(11, 31, 53, 0.4);
  border-style: solid;
  border-width: 1px; }

.button_theme_alfa-on-white.button_hovered {
  border-color: rgba(11, 31, 53, 0.9); }

.button_theme_alfa-on-white.button_focused {
  border-color: rgba(11, 31, 53, 0.9);
  -webkit-box-shadow: inset 0 0 0 1px rgba(11, 31, 53, 0.95);
  box-shadow: inset 0 0 0 1px rgba(11, 31, 53, 0.95); }

.button_theme_alfa-on-white.button_focused.button_hovered {
  border-color: rgba(11, 31, 53, 0.9);
  -webkit-box-shadow: inset 0 0 0 1px rgba(11, 31, 53, 0.95);
  box-shadow: inset 0 0 0 1px rgba(11, 31, 53, 0.95); }

.button_theme_alfa-on-white.button_pressed,
.button_theme_alfa-on-white:active {
  background: rgba(11, 31, 53, 0.05);
  border-color: rgba(11, 31, 53, 0.9); }

.button_theme_alfa-on-white.button_checked,
.button_theme_alfa-on-white.button_view_action {
  color: rgba(11, 31, 53, 0.95);
  background: rgba(11, 31, 53, 0.15);
  border-color: rgba(11, 31, 53, 0.5); }

.button_theme_alfa-on-white.button_checked.button_hovered, .button_theme_alfa-on-white.button_view_action.button_hovered {
  background: rgba(11, 31, 53, 0.25); }

.button_theme_alfa-on-white.button_checked.button_pressed,
.button_theme_alfa-on-white.button_checked:active,
.button_theme_alfa-on-white.button_view_action.button_pressed,
.button_theme_alfa-on-white.button_view_action:active {
  background: rgba(11, 31, 53, 0.3); }

.button_theme_alfa-on-white.button_checked.button_focused, .button_theme_alfa-on-white.button_view_action.button_focused {
  border-color: rgba(11, 31, 53, 0.9); }

.button_theme_alfa-on-white.button_view_extra,
.button_theme_alfa-on-white.button_view_rounded {
  color: white;
  background: rgba(240, 50, 38, 0.85);
  border-color: rgba(240, 50, 38, 0.85); }

.button_theme_alfa-on-white.button_view_extra.button_hovered, .button_theme_alfa-on-white.button_view_rounded.button_hovered {
  background: #f03226;
  border-color: #f03226; }

.button_theme_alfa-on-white.button_view_extra.button_focused, .button_theme_alfa-on-white.button_view_rounded.button_focused {
  border-color: rgba(11, 31, 53, 0.95); }

.button_theme_alfa-on-white.button_view_extra.button_pressed,
.button_theme_alfa-on-white.button_view_extra:active,
.button_theme_alfa-on-white.button_view_rounded.button_pressed,
.button_theme_alfa-on-white.button_view_rounded:active {
  background: #9e0c00;
  border-color: #9e0c00; }

.button_theme_alfa-on-white.button_view_extra.button_disabled, .button_theme_alfa-on-white.button_view_rounded.button_disabled {
  border-color: transparent;
  background: rgba(240, 50, 38, 0.25); }

.button_theme_alfa-on-white.button_view_extra.button_disabled .button__text, .button_theme_alfa-on-white.button_view_rounded.button_disabled .button__text {
  color: white; }

.button_theme_alfa-on-white.button_pseudo {
  border-style: dashed; }

.button_theme_alfa-on-white.button_pseudo.button_focused {
  border-color: rgba(11, 31, 53, 0.95);
  border-style: solid;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.9); }

.button_theme_alfa-on-white.button_pseudo.button_focused.button_hovered {
  border-color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.7); }

.button_theme_alfa-on-white.button_disabled {
  border-color: transparent;
  background: rgba(11, 31, 53, 0.08); }

.button_theme_alfa-on-white.button_disabled .button__text {
  color: rgba(11, 31, 53, 0.3); }

/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.icon_size_l.icon_name_arrow-down.icon_theme_alfa-on-white {
  background-image: url("<svg viewBox=\"0 0 30 30\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"none\" fill-rule=\"evenodd\"><path d=\"M0 30h30V0H0z\"></path><path fill=\"#000\" fill-rule=\"nonzero\" d=\"M14.892 17.186l5.54-5.54.707.708-6.247 6.246-6.246-6.246.708-.708z\"></path></g></svg>"); }

.icon_size_l.icon_name_arrow-down.icon_theme_alfa-on-color {
  background-image: url("<svg viewBox=\"0 0 30 30\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"none\" fill-rule=\"evenodd\"><path d=\"M0 30h30V0H0z\"></path><path fill=\"#FFF\" fill-rule=\"nonzero\" d=\"M14.892 17.186l5.54-5.54.707.708-6.247 6.246-6.246-6.246.708-.708z\"></path></g></svg>"); }

.icon_size_m.icon_name_arrow-down.icon_theme_alfa-on-white {
  background-image: url("<svg viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"none\" fill-rule=\"evenodd\"><path d=\"M0 24h24V0H0z\"></path><path fill=\"#000\" fill-rule=\"nonzero\" d=\"M16.074 9.646l.708.708-5.068 5.068-5.068-5.068.708-.708 4.36 4.362z\"></path></g></svg>"); }

.icon_size_m.icon_name_arrow-down.icon_theme_alfa-on-color {
  background-image: url("<svg viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"none\" fill-rule=\"evenodd\"><path d=\"M0 24h24V0H0z\"></path><path fill=\"#FFF\" fill-rule=\"nonzero\" d=\"M16.074 9.646l.708.708-5.068 5.068-5.068-5.068.708-.708 4.36 4.362z\"></path></g></svg>"); }

.icon_size_s.icon_name_arrow-down.icon_theme_alfa-on-white {
  background-image: url("<svg viewBox=\"0 0 18 18\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"none\" fill-rule=\"evenodd\"><path d=\"M0 18h18V0H0z\"></path><path fill=\"#000\" fill-rule=\"nonzero\" d=\"M12.182 6.879l.707.707L9 11.474 5.112 7.586l.707-.707L9 10.06z\"></path></g></svg>"); }

.icon_size_s.icon_name_arrow-down.icon_theme_alfa-on-color {
  background-image: url("<svg viewBox=\"0 0 18 18\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"none\" fill-rule=\"evenodd\"><path d=\"M0 18h18V0H0z\"></path><path fill=\"#FFF\" fill-rule=\"nonzero\" d=\"M12.182 6.879l.707.707L9 11.474 5.112 7.586l.707-.707L9 10.06z\"></path></g></svg>"); }

.icon_size_xl.icon_name_arrow-down.icon_theme_alfa-on-white {
  background-image: url("<svg viewBox=\"0 0 36 36\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"none\" fill-rule=\"evenodd\"><path d=\"M0 36h36V0H0z\"></path><path fill=\"#000\" fill-rule=\"nonzero\" d=\"M18.072 20.363l6.717-6.717.708.708-7.425 7.423-7.426-7.423.708-.708z\"></path></g></svg>"); }

.icon_size_xl.icon_name_arrow-down.icon_theme_alfa-on-color {
  background-image: url("<svg viewBox=\"0 0 36 36\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"none\" fill-rule=\"evenodd\"><path d=\"M0 36h36V0H0z\"></path><path fill=\"#FFF\" fill-rule=\"nonzero\" d=\"M18.072 20.363l6.717-6.717.708.708-7.425 7.423-7.426-7.423.708-.708z\"></path></g></svg>"); }

.icon_size_xxl.icon_name_arrow-down.icon_theme_alfa-on-white {
  background-image: url("<svg viewBox=\"0 0 48 48\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"none\" fill-rule=\"evenodd\"><path d=\"M0 48h48V0H0z\"></path><path fill=\"#000\" fill-rule=\"nonzero\" d=\"M32.501 18.646l.708.708-9.782 9.781-9.78-9.781.707-.708 9.073 9.075z\"></path></g></svg>"); }

.icon_size_xxl.icon_name_arrow-down.icon_theme_alfa-on-color {
  background-image: url("<svg viewBox=\"0 0 48 48\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"none\" fill-rule=\"evenodd\"><path d=\"M0 48h48V0H0z\"></path><path fill=\"#FFF\" fill-rule=\"nonzero\" d=\"M32.501 18.646l.708.708-9.782 9.781-9.78-9.781.707-.708 9.073 9.075z\"></path></g></svg>"); }

/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.icon_size_l.icon_name_arrow-up.icon_theme_alfa-on-white {
  background-image: url("<svg viewBox=\"0 0 30 30\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"none\" fill-rule=\"evenodd\"><path fill=\"#000\" fill-rule=\"nonzero\" d=\"M14.892 13.06l5.54 5.54.707-.708-6.247-6.246-6.246 6.246.708.708z\"></path><path d=\"M0 30h30V0H0z\"></path></g></svg>"); }

.icon_size_l.icon_name_arrow-up.icon_theme_alfa-on-color {
  background-image: url("<svg viewBox=\"0 0 30 30\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"none\" fill-rule=\"evenodd\"><path fill=\"#FFF\" fill-rule=\"nonzero\" d=\"M14.892 13.06l5.54 5.54.707-.708-6.247-6.246-6.246 6.246.708.708z\"></path><path d=\"M0 30h30V0H0z\"></path></g></svg>"); }

.icon_size_m.icon_name_arrow-up.icon_theme_alfa-on-white {
  background-image: url("<svg viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"none\" fill-rule=\"evenodd\"><path fill=\"#000\" fill-rule=\"nonzero\" d=\"M16.074 15.422l.708-.708-5.068-5.068-5.068 5.068.708.708 4.36-4.362z\"></path><path d=\"M0 24h24V0H0z\"></path></g></svg>"); }

.icon_size_m.icon_name_arrow-up.icon_theme_alfa-on-color {
  background-image: url("<svg viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"none\" fill-rule=\"evenodd\"><path fill=\"#FFF\" fill-rule=\"nonzero\" d=\"M16.074 15.422l.708-.708-5.068-5.068-5.068 5.068.708.708 4.36-4.362z\"></path><path d=\"M0 24h24V0H0z\"></path></g></svg>"); }

.icon_size_s.icon_name_arrow-up.icon_theme_alfa-on-white {
  background-image: url("<svg viewBox=\"0 0 18 18\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"none\" fill-rule=\"evenodd\"><path fill=\"#000\" fill-rule=\"nonzero\" d=\"M12.182 11.474l.707-.707L9 6.879l-3.888 3.888.707.707L9 8.293z\"></path><path d=\"M0 18h18V0H0z\"></path></g></svg>"); }

.icon_size_s.icon_name_arrow-up.icon_theme_alfa-on-color {
  background-image: url("<svg viewBox=\"0 0 18 18\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"none\" fill-rule=\"evenodd\"><path fill=\"#FFF\" fill-rule=\"nonzero\" d=\"M12.182 11.474l.707-.707L9 6.879l-3.888 3.888.707.707L9 8.293z\"></path><path d=\"M0 18h18V0H0z\"></path></g></svg>"); }

.icon_size_xl.icon_name_arrow-up.icon_theme_alfa-on-white {
  background-image: url("<svg viewBox=\"0 0 36 36\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"none\" fill-rule=\"evenodd\"><path fill=\"#000\" fill-rule=\"nonzero\" d=\"M18.072 15.06l6.717 6.717.708-.708-7.425-7.423-7.426 7.423.708.708z\"></path><path d=\"M0 36h36V0H0z\"></path></g></svg>"); }

.icon_size_xl.icon_name_arrow-up.icon_theme_alfa-on-color {
  background-image: url("<svg viewBox=\"0 0 36 36\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"none\" fill-rule=\"evenodd\"><path fill=\"#FFF\" fill-rule=\"nonzero\" d=\"M18.072 15.06l6.717 6.717.708-.708-7.425-7.423-7.426 7.423.708.708z\"></path><path d=\"M0 36h36V0H0z\"></path></g></svg>"); }

.icon_size_xxl.icon_name_arrow-up.icon_theme_alfa-on-white {
  background-image: url("<svg viewBox=\"0 0 48 48\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"none\" fill-rule=\"evenodd\"><path fill=\"#000\" fill-rule=\"nonzero\" d=\"M32.501 29.135l.708-.708-9.782-9.781-9.78 9.781.707.708 9.073-9.075z\"></path><path d=\"M0 48h48V0H0z\"></path></g></svg>"); }

.icon_size_xxl.icon_name_arrow-up.icon_theme_alfa-on-color {
  background-image: url("<svg viewBox=\"0 0 48 48\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"none\" fill-rule=\"evenodd\"><path fill=\"#FFF\" fill-rule=\"nonzero\" d=\"M32.501 29.135l.708-.708-9.782-9.781-9.78 9.781.707.708 9.073-9.075z\"></path><path d=\"M0 48h48V0H0z\"></path></g></svg>"); }

/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.icon_size_l.icon_name_check.icon_theme_alfa-on-white {
  background-image: url("<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1\" viewBox=\"0 0 30 30\"><path fill=\"#0B1F35\" d=\"M27.896 4.035l-.792-.609-15.542 20.253-8.666-11.294-.792.608 9.458 12.328z\"></path></svg>"); }

.icon_size_l.icon_name_check.icon_theme_alfa-on-color {
  background-image: url("<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 27 23\"><path fill=\"#FFF\" fill-rule=\"evenodd\" d=\"M26.292 1.035L25.5.426 9.958 20.679 1.292 9.385.5 9.993l9.458 12.328z\"></path></svg>"); }

.icon_size_m.icon_name_check.icon_theme_alfa-on-white {
  background-image: url("<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1\" viewBox=\"0 0 24 24\"><path fill=\"#0B1F35\" d=\"M2.038 9.203l-.793.609L9.5 20.571 23.718 2.042l-.793-.608L9.5 18.929z\"></path></svg>"); }

.icon_size_m.icon_name_check.icon_theme_alfa-on-color {
  background-image: url("<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 23 20\"><g fill=\"none\" fill-rule=\"evenodd\"><path d=\"M-1-2h24v24H-1z\"></path><path fill=\"#FFF\" d=\"M.793 7.769L0 8.378l8.255 10.759L22.473.608 21.68 0 8.255 17.495z\"></path></g></svg>"); }

.icon_size_s.icon_name_check.icon_theme_alfa-on-white {
  background-image: url("<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\"><path fill=\"#0B1F35\" d=\"M5.934 13.152L.892 6.582.1 7.19l5.834 7.603 9.958-12.98-.792-.608z\"></path></svg>"); }

.icon_size_s.icon_name_check.icon_theme_alfa-on-color {
  background-image: url("<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 15 13\"><g fill=\"none\" fill-rule=\"evenodd\"><path d=\"M-2-3h18v18H-2z\"></path><path fill=\"#FFF\" d=\"M5.464 11.092l-4.722-6.1L0 5.556l5.464 7.06L14.79.565 14.048 0z\"></path></g></svg>"); }

.icon_size_xl.icon_name_check.icon_theme_alfa-on-white {
  background-image: url("<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 36 36\"><path fill=\"#0B1F35\" d=\"M4.896 15.897l-.792.608 10.184 13.273L31.897 6.83l-.793-.608L14.29 28.136z\"></path></svg>"); }

.icon_size_xl.icon_name_check.icon_theme_alfa-on-color {
  background-image: url("<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 29 24\"><g fill=\"none\" fill-rule=\"evenodd\"><path d=\"M-5-7h36v36H-5z\"></path><path fill=\"#FFF\" d=\"M1.293 9.675l-.793.608 10.185 13.273L28.293.608 27.5 0 10.685 21.914z\"></path></g></svg>"); }

.icon_size_xxl.icon_name_check.icon_theme_alfa-on-white {
  background-image: url("<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 43 35\"><g fill=\"none\" fill-rule=\"evenodd\"><path d=\"M-4-7h48v48H-4z\"></path><path stroke=\"#0B1F35\" d=\"M.838 15.175l14.716 19.138L41.838.028\"></path></g></svg>"); }

.icon_size_xxl.icon_name_check.icon_theme_alfa-on-color {
  background-image: url("<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 43 35\"><g fill=\"none\" fill-rule=\"evenodd\"><path d=\"M-4-7h48v48H-4z\"></path><path stroke=\"#FFF\" d=\"M.838 15.175l14.716 19.138L41.838.028\"></path></g></svg>"); }

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.link {
  cursor: pointer;
  outline: none;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Roboto Rouble', sans-serif;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1); }

.link_flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.link,
.link *,
.link *:before,
.link *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.link__text-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.link__text {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  -webkit-transition: border-color 200ms ease-out;
  transition: border-color 200ms ease-out; }

.link__icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 0; }

.link__icon + .link__text-container,
.link__text-container + .link__icon {
  margin-left: 6px; }

.link__icon_left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.link_size_xs {
  font-size: 12px;
  line-height: 1.4; }

.link_size_s {
  font-size: 13px;
  line-height: 1.4; }

.link_size_m {
  font-size: 16px;
  line-height: 1.4; }

.link_size_l {
  font-size: 22px;
  line-height: 1.2; }

.link_size_xl {
  font-size: 30px;
  line-height: 1.2; }

.link_pseudo .link__text {
  border-bottom-style: dashed; }

.link_disabled,
.link_checked {
  cursor: default; }

.link_disabled .link__icon,
.link_checked .link__icon {
  opacity: .25; }

.link_theme_alfa-on-color {
  color: white; }

.link_theme_alfa-on-color .link__text {
  border-color: rgba(255, 255, 255, 0.7); }

.link_theme_alfa-on-color:hover,
.link_theme_alfa-on-color:focus {
  color: white; }

.link_theme_alfa-on-color:hover .link__text, .link_theme_alfa-on-color:focus .link__text {
  border-color: white; }

.link_theme_alfa-on-color.link_disabled {
  color: rgba(255, 255, 255, 0.4); }

.link_theme_alfa-on-white {
  color: rgba(11, 31, 53, 0.95); }

.link_theme_alfa-on-white .link__text {
  border-color: rgba(11, 31, 53, 0.6); }

.link_theme_alfa-on-white:hover,
.link_theme_alfa-on-white:focus {
  color: #0b1f35; }

.link_theme_alfa-on-white:hover .link__text, .link_theme_alfa-on-white:focus .link__text {
  border-color: #0b1f35; }

.link_theme_alfa-on-white.link_disabled {
  color: rgba(11, 31, 53, 0.3); }

.link_theme_alfa-on-color.link_disabled .link__text, .link_theme_alfa-on-color.link_checked .link__text, .link_theme_alfa-on-white.link_disabled .link__text, .link_theme_alfa-on-white.link_checked .link__text {
  border-color: transparent; }

.link_theme_alfa-on-color.link_checked, .link_theme_alfa-on-white.link_checked {
  font-weight: 500; }

@charset "UTF-8";
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.popup {
  visibility: hidden;
  position: absolute;
  width: auto;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Roboto Rouble', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  /* Чтобы IE9 не рисовал лишний скролл */
  clip: rect(0, 0, 0, 0);
  /* Чтобы попап не прокликивался и браузер не рисовал лишний скролл */
  -webkit-transform: translate(-9999px, -9999px);
  transform: translate(-9999px, -9999px);
  z-index: 9999; }

.popup, .popup *, .popup *:before, .popup *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.popup__container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  z-index: 2; }

.popup_size_s {
  font-size: 13px; }

.popup_size_m {
  font-size: 16px; }

.popup_size_l {
  font-size: 18px; }

.popup_size_xl {
  font-size: 22px; }

.popup_visible {
  visibility: visible;
  clip: auto;
  -webkit-transform: none;
  transform: none; }

.popup_height_available {
  opacity: 0;
  position: fixed;
  top: 0 !important;
  bottom: 0;
  width: 300px;
  border-radius: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.popup_height_available .popup__content {
  padding: 12px 24px; }

.popup_height_available.popup_visible {
  opacity: 1;
  margin: 0 0 0 -35px; }

.popup_height_adaptive .popup__gradient,
.popup_target_screen .popup__gradient {
  position: absolute;
  left: 0;
  width: 100%;
  pointer-events: none;
  -webkit-transition: height 200ms ease-in-out;
  transition: height 200ms ease-in-out;
  z-index: 3;
  border-radius: 4px; }

.popup_height_adaptive .popup__gradient_top, .popup_target_screen .popup__gradient_top {
  top: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.popup_height_adaptive .popup__gradient_bottom, .popup_target_screen .popup__gradient_bottom {
  bottom: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.popup_height_adaptive.popup_size_s .popup__gradient,
.popup_target_screen.popup_size_s .popup__gradient {
  height: 31px; }

.popup_height_adaptive.popup_size_m .popup__gradient,
.popup_target_screen.popup_size_m .popup__gradient {
  height: 40px; }

.popup_height_adaptive.popup_size_l .popup__gradient,
.popup_target_screen.popup_size_l .popup__gradient {
  height: 50px; }

.popup_height_adaptive.popup_size_xl .popup__gradient,
.popup_target_screen.popup_size_xl .popup__gradient {
  height: 58px; }

.popup_height_adaptive .popup__inner,
.popup_target_screen .popup__inner {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%; }

.popup__content {
  /* Для resize-sensor */
  position: relative; }

.popup_padded:not(.popup_height_available).popup_size_s .popup__content {
  padding: 7px 12px 8px; }

.popup_padded:not(.popup_height_available).popup_size_m .popup__content {
  padding: 10px 14px 11px; }

.popup_padded:not(.popup_height_available).popup_size_l .popup__content {
  padding: 14px 18px 15px; }

.popup_padded:not(.popup_height_available).popup_size_xl .popup__content {
  padding: 17px 22px; }

.popup_target_screen {
  position: fixed;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

.popup_target_screen .popup__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 0; }

.popup_target_screen .popup__content {
  /* чтобы контент с position:relative в UIWebView не исчезал при быстром скролле */
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.popup_type_tooltip:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  margin: -7px;
  border-style: solid;
  border-width: 7px;
  -webkit-filter: drop-shadow(0 0 2px rgba(11, 31, 53, 0.25));
  filter: drop-shadow(0 0 2px rgba(11, 31, 53, 0.25));
  z-index: 1; }

/* top */
.popup_type_tooltip.popup_direction_top-left:before {
  bottom: -7px; }

.popup_type_tooltip.popup_direction_top-center:before {
  bottom: -7px;
  left: 50%; }

.popup_type_tooltip.popup_direction_top-right:before {
  bottom: -7px; }

.popup_type_tooltip.popup_size_s.popup_direction_top-left:before {
  left: 15px; }

.popup_type_tooltip.popup_size_s.popup_direction_top-right:before {
  right: 15px; }

.popup_type_tooltip.popup_size_m.popup_direction_top-left:before {
  left: 20px; }

.popup_type_tooltip.popup_size_m.popup_direction_top-right:before {
  right: 20px; }

.popup_type_tooltip.popup_size_l.popup_direction_top-left:before {
  left: 25px; }

.popup_type_tooltip.popup_size_l.popup_direction_top-right:before {
  right: 25px; }

.popup_type_tooltip.popup_size_xl.popup_direction_top-left:before {
  left: 30px; }

.popup_type_tooltip.popup_size_xl.popup_direction_top-right:before {
  right: 30px; }

/* left */
.popup_type_tooltip.popup_direction_left-top:before {
  right: -7px; }

.popup_type_tooltip.popup_direction_left-center:before {
  top: 50%;
  right: -7px; }

.popup_type_tooltip.popup_direction_left-bottom:before {
  right: -7px; }

.popup_type_tooltip.popup_size_s.popup_direction_left-top:before {
  top: 15px; }

.popup_type_tooltip.popup_size_s.popup_direction_left-bottom:before {
  bottom: 15px; }

.popup_type_tooltip.popup_size_m.popup_direction_left-top:before {
  top: 20px; }

.popup_type_tooltip.popup_size_m.popup_direction_left-bottom:before {
  bottom: 20px; }

.popup_type_tooltip.popup_size_l.popup_direction_left-top:before {
  top: 25px; }

.popup_type_tooltip.popup_size_l.popup_direction_left-bottom:before {
  bottom: 25px; }

.popup_type_tooltip.popup_size_xl.popup_direction_left-top:before {
  top: 30px; }

.popup_type_tooltip.popup_size_xl.popup_direction_left-bottom:before {
  bottom: 30px; }

/* right */
.popup_type_tooltip.popup_direction_right-top:before {
  left: -7px; }

.popup_type_tooltip.popup_direction_right-center:before {
  top: 50%;
  left: -7px; }

.popup_type_tooltip.popup_direction_right-bottom:before {
  left: -7px; }

.popup_type_tooltip.popup_size_s.popup_direction_right-top:before {
  top: 15px; }

.popup_type_tooltip.popup_size_s.popup_direction_right-bottom:before {
  bottom: 15px; }

.popup_type_tooltip.popup_size_m.popup_direction_right-top:before {
  top: 20px; }

.popup_type_tooltip.popup_size_m.popup_direction_right-bottom:before {
  bottom: 20px; }

.popup_type_tooltip.popup_size_l.popup_direction_right-top:before {
  top: 25px; }

.popup_type_tooltip.popup_size_l.popup_direction_right-bottom:before {
  bottom: 25px; }

.popup_type_tooltip.popup_size_xl.popup_direction_right-top:before {
  top: 30px; }

.popup_type_tooltip.popup_size_xl.popup_direction_right-bottom:before {
  bottom: 30px; }

/* bottom */
.popup_type_tooltip.popup_direction_bottom-left:before {
  top: -7px; }

.popup_type_tooltip.popup_direction_bottom-center:before {
  top: -7px;
  left: 50%; }

.popup_type_tooltip.popup_direction_bottom-right:before {
  top: -7px; }

.popup_type_tooltip.popup_size_s.popup_direction_bottom-left:before {
  left: 15px; }

.popup_type_tooltip.popup_size_s.popup_direction_bottom-right:before {
  right: 15px; }

.popup_type_tooltip.popup_size_m.popup_direction_bottom-left:before {
  left: 20px; }

.popup_type_tooltip.popup_size_m.popup_direction_bottom-right:before {
  right: 20px; }

.popup_type_tooltip.popup_size_l.popup_direction_bottom-left:before {
  left: 25px; }

.popup_type_tooltip.popup_size_l.popup_direction_bottom-right:before {
  right: 25px; }

.popup_type_tooltip.popup_size_xl.popup_direction_bottom-left:before {
  left: 30px; }

.popup_type_tooltip.popup_size_xl.popup_direction_bottom-right:before {
  right: 30px; }

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.popup_theme_alfa-on-white {
  color: rgba(11, 31, 53, 0.95);
  -webkit-box-shadow: 0 1px 5px 0 rgba(11, 31, 53, 0.25);
  box-shadow: 0 1px 5px 0 rgba(11, 31, 53, 0.25); }

.popup_theme_alfa-on-white .popup__container {
  background-color: white; }

.popup_theme_alfa-on-white.popup_height_adaptive .popup__gradient_top, .popup_theme_alfa-on-white.popup_target_screen .popup__gradient_top {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(40%, rgba(255, 255, 255, 0.4)), color-stop(75%, rgba(255, 255, 255, 0.9)), to(white));
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 40%, rgba(255, 255, 255, 0.9) 75%, white 100%);
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 40%, rgba(255, 255, 255, 0.9) 75%, white 100%); }

.popup_theme_alfa-on-white.popup_height_adaptive .popup__gradient_bottom, .popup_theme_alfa-on-white.popup_target_screen .popup__gradient_bottom {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(40%, rgba(255, 255, 255, 0.4)), color-stop(75%, rgba(255, 255, 255, 0.9)), to(white));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 40%, rgba(255, 255, 255, 0.9) 75%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 40%, rgba(255, 255, 255, 0.9) 75%, white 100%); }

.popup_theme_alfa-on-white.popup_type_tooltip:before {
  border-color: white; }

.popup_theme_alfa-on-white.popup_type_tooltip.popup_direction_top-left:before,
.popup_theme_alfa-on-white.popup_type_tooltip.popup_direction_top-center:before,
.popup_theme_alfa-on-white.popup_type_tooltip.popup_direction_top-right:before {
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent; }

.popup_theme_alfa-on-white.popup_type_tooltip.popup_direction_left-top:before,
.popup_theme_alfa-on-white.popup_type_tooltip.popup_direction_left-center:before,
.popup_theme_alfa-on-white.popup_type_tooltip.popup_direction_left-bottom:before {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent; }

.popup_theme_alfa-on-white.popup_type_tooltip.popup_direction_right-top:before,
.popup_theme_alfa-on-white.popup_type_tooltip.popup_direction_right-center:before,
.popup_theme_alfa-on-white.popup_type_tooltip.popup_direction_right-bottom:before {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent; }

.popup_theme_alfa-on-white.popup_type_tooltip.popup_direction_bottom-left:before,
.popup_theme_alfa-on-white.popup_type_tooltip.popup_direction_bottom-center:before,
.popup_theme_alfa-on-white.popup_type_tooltip.popup_direction_bottom-right:before {
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent; }

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.popup_theme_alfa-on-color {
  color: white;
  -webkit-box-shadow: 0 1px 5px 0 rgba(11, 31, 53, 0.25);
  box-shadow: 0 1px 5px 0 rgba(11, 31, 53, 0.25); }

.popup_theme_alfa-on-color .popup__container {
  background-color: #0b1f35; }

.popup_theme_alfa-on-color.popup_height_adaptive .popup__gradient_top, .popup_theme_alfa-on-color.popup_target_screen .popup__gradient_top {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(11, 31, 53, 0)), color-stop(40%, rgba(11, 31, 53, 0.4)), color-stop(75%, rgba(11, 31, 53, 0.9)), to(#0b1f35));
  background: -webkit-linear-gradient(bottom, rgba(11, 31, 53, 0) 0%, rgba(11, 31, 53, 0.4) 40%, rgba(11, 31, 53, 0.9) 75%, #0b1f35 100%);
  background: linear-gradient(to top, rgba(11, 31, 53, 0) 0%, rgba(11, 31, 53, 0.4) 40%, rgba(11, 31, 53, 0.9) 75%, #0b1f35 100%); }

.popup_theme_alfa-on-color.popup_height_adaptive .popup__gradient_bottom, .popup_theme_alfa-on-color.popup_target_screen .popup__gradient_bottom {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 31, 53, 0)), color-stop(40%, rgba(11, 31, 53, 0.4)), color-stop(75%, rgba(11, 31, 53, 0.9)), to(#0b1f35));
  background: -webkit-linear-gradient(top, rgba(11, 31, 53, 0) 0%, rgba(11, 31, 53, 0.4) 40%, rgba(11, 31, 53, 0.9) 75%, #0b1f35 100%);
  background: linear-gradient(to bottom, rgba(11, 31, 53, 0) 0%, rgba(11, 31, 53, 0.4) 40%, rgba(11, 31, 53, 0.9) 75%, #0b1f35 100%); }

.popup_theme_alfa-on-color.popup_type_tooltip:before {
  border-color: #0b1f35; }

.popup_theme_alfa-on-color.popup_type_tooltip.popup_direction_top-left:before,
.popup_theme_alfa-on-color.popup_type_tooltip.popup_direction_top-center:before,
.popup_theme_alfa-on-color.popup_type_tooltip.popup_direction_top-right:before {
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent; }

.popup_theme_alfa-on-color.popup_type_tooltip.popup_direction_left-top:before,
.popup_theme_alfa-on-color.popup_type_tooltip.popup_direction_left-center:before,
.popup_theme_alfa-on-color.popup_type_tooltip.popup_direction_left-bottom:before {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent; }

.popup_theme_alfa-on-color.popup_type_tooltip.popup_direction_right-top:before,
.popup_theme_alfa-on-color.popup_type_tooltip.popup_direction_right-center:before,
.popup_theme_alfa-on-color.popup_type_tooltip.popup_direction_right-bottom:before {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent; }

.popup_theme_alfa-on-color.popup_type_tooltip.popup_direction_bottom-left:before,
.popup_theme_alfa-on-color.popup_type_tooltip.popup_direction_bottom-center:before,
.popup_theme_alfa-on-color.popup_type_tooltip.popup_direction_bottom-right:before {
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent; }

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.menu-item {
  position: relative;
  cursor: pointer;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Roboto Rouble', sans-serif;
  line-height: 1.4;
  -webkit-transition: background 200ms ease;
  transition: background 200ms ease; }

.menu-item, .menu-item *, .menu-item *:before, .menu-item *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.menu-item_disabled {
  cursor: default; }

.menu-item_checked {
  cursor: default; }

.menu-item_hidden {
  display: none; }

.menu-item_type_link {
  cursor: default; }

.menu-item_type_link .menu-item__link {
  outline: none; }

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.menu {
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Roboto Rouble', sans-serif; }

.menu, .menu *, .menu *:before, .menu *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.menu_view_horizontal .menu-item {
  display: inline-block;
  vertical-align: top; }

.menu_view_horizontal .menu-item.menu-item_type_link:first-child {
  padding-left: 0; }

.menu_view_horizontal .menu-item.menu-item_type_link:last-child {
  padding-right: 0; }

.menu_view_horizontal .menu-item:first-child {
  border-radius: 4px 0 0 4px; }

.menu_view_horizontal .menu-item:last-child {
  border-radius: 0 4px 4px 0; }

.menu_mode_check .menu-item_checked .icon {
  position: absolute; }

.menu_mode_radio .menu-item_checked:before, .menu_mode_radio-check .menu-item_checked:before {
  content: '';
  display: inline-block;
  position: absolute;
  border-radius: 50%; }

.menu_size_s .menu__group-title {
  padding: 10px 12px;
  font-size: 13px; }

.menu_size_s .menu-item {
  padding: 6px 10px;
  font-size: 13px; }

.menu_size_s.menu_mode_check .menu-item_checked .icon {
  top: 7px;
  left: 4px; }

.menu_size_s.menu_mode_radio .menu-item_checked:before, .menu_size_s.menu_mode_radio-check .menu-item_checked:before {
  top: 12px;
  width: 5px;
  height: 5px;
  margin-left: -14px; }

.menu_size_s.menu_mode_check .menu-item,
.menu_size_s.menu_mode_check .menu__group-title,
.menu_size_s.menu_mode_radio .menu-item,
.menu_size_s.menu_mode_radio .menu__group-title,
.menu_size_s.menu_mode_radio-check .menu-item,
.menu_size_s.menu_mode_radio-check .menu__group-title {
  padding-left: 24px; }

.menu_size_s .menu__group .menu-item {
  padding-left: 36px; }

.menu_size_m .menu__group-title {
  padding: 8px 12px;
  font-size: 16px; }

.menu_size_m .menu-item {
  padding: 9px 12px;
  font-size: 16px; }

.menu_size_m.menu_mode_check .menu-item_checked .icon {
  top: 13px;
  left: 8px; }

.menu_size_m.menu_mode_radio .menu-item_checked:before, .menu_size_m.menu_mode_radio-check .menu-item_checked:before {
  top: 17px;
  width: 6px;
  height: 6px;
  margin-left: -14px; }

.menu_size_m.menu_mode_check .menu-item,
.menu_size_m.menu_mode_check .menu__group-title,
.menu_size_m.menu_mode_radio .menu-item,
.menu_size_m.menu_mode_radio .menu__group-title,
.menu_size_m.menu_mode_radio-check .menu-item,
.menu_size_m.menu_mode_radio-check .menu__group-title {
  padding-left: 30px; }

.menu_size_m .menu__group .menu-item {
  padding-left: 48px; }

.menu_size_l .menu__group-title {
  padding: 10px 17px;
  font-size: 18px; }

.menu_size_l .menu-item {
  padding: 12px 15px 13px;
  font-size: 18px; }

.menu_size_l.menu_mode_check .menu-item_checked .icon {
  top: 14px;
  left: 8px; }

.menu_size_l.menu_mode_radio .menu-item_checked:before, .menu_size_l.menu_mode_radio-check .menu-item_checked:before {
  top: 21px;
  width: 8px;
  height: 8px;
  margin-left: -21px; }

.menu_size_l.menu_mode_check .menu-item,
.menu_size_l.menu_mode_check .menu__group-title,
.menu_size_l.menu_mode_radio .menu-item,
.menu_size_l.menu_mode_radio .menu__group-title,
.menu_size_l.menu_mode_radio-check .menu-item,
.menu_size_l.menu_mode_radio-check .menu__group-title {
  padding-left: 36px; }

.menu_size_l .menu__group .menu-item {
  padding-left: 56px; }

.menu_size_xl .menu__group-title {
  padding: 12px 19px;
  font-size: 22px; }

.menu_size_xl .menu-item {
  padding: 11px 15px;
  font-size: 22px; }

.menu_size_xl.menu_mode_check .menu-item_checked .icon {
  top: 16px;
  left: 10px; }

.menu_size_xl.menu_mode_radio .menu-item_checked:before, .menu_size_xl.menu_mode_radio-check .menu-item_checked:before {
  top: 21px;
  width: 10px;
  height: 10px;
  margin-left: -22px; }

.menu_size_xl.menu_mode_check .menu-item,
.menu_size_xl.menu_mode_check .menu__group-title,
.menu_size_xl.menu_mode_radio .menu-item,
.menu_size_xl.menu_mode_radio .menu__group-title,
.menu_size_xl.menu_mode_radio-check .menu-item,
.menu_size_xl.menu_mode_radio-check .menu__group-title {
  padding-left: 40px; }

.menu_size_xl .menu__group .menu-item {
  padding-left: 50px; }

.menu__group-title {
  font-weight: 500; }

.menu__group + .menu__group {
  border-top: 0; }

.menu__group:last-child {
  padding-bottom: 0;
  border-bottom: 0; }

.menu__group:first-child {
  padding-top: 0;
  border-top: 0; }

.menu_group-view_line .menu__group {
  position: relative; }

.menu_group-view_line .menu__group-title {
  position: absolute;
  line-height: 1.4; }

.menu_group-view_line.menu_size_s .menu__group-title {
  padding: 6px 3px; }

.menu_group-view_line.menu_size_m .menu__group-title {
  padding: 9px 12px; }

.menu_group-view_line.menu_size_l .menu__group-title {
  padding: 12px 7px; }

.menu_group-view_line.menu_size_xl .menu__group-title {
  padding: 11px 1px; }

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.menu_theme_alfa-on-white .menu-item {
  color: rgba(11, 31, 53, 0.95); }

.menu_theme_alfa-on-white .menu-item_hovered {
  background-color: rgba(11, 31, 53, 0.08); }

.menu_theme_alfa-on-white .menu-item_hovered.menu-item_type_link, .menu_theme_alfa-on-white .menu-item_hovered.menu-item_type_dropdown {
  background-color: transparent; }

.menu_theme_alfa-on-white .menu-item_disabled {
  color: rgba(11, 31, 53, 0.3); }

.menu_theme_alfa-on-white .menu-item_disabled .icon {
  opacity: .25; }

.menu_theme_alfa-on-white.menu_mode_radio .menu-item_checked:before, .menu_theme_alfa-on-white.menu_mode_radio-check .menu-item_checked:before {
  background-color: rgba(11, 31, 53, 0.95); }

.menu_theme_alfa-on-white.menu_mode_check .menu-item_disabled.menu-item_checked:before, .menu_theme_alfa-on-white.menu_mode_radio .menu-item_disabled.menu-item_checked:before, .menu_theme_alfa-on-white.menu_mode_radio-check .menu-item_disabled.menu-item_checked:before {
  opacity: .25; }

.menu_theme_alfa-on-white .menu__group-title {
  color: rgba(11, 31, 53, 0.6); }

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.menu_theme_alfa-on-color .menu-item {
  color: white; }

.menu_theme_alfa-on-color .menu-item_hovered {
  background-color: rgba(255, 255, 255, 0.1); }

.menu_theme_alfa-on-color .menu-item_hovered.menu-item_type_link, .menu_theme_alfa-on-color .menu-item_hovered.menu-item_type_dropdown {
  background-color: transparent; }

.menu_theme_alfa-on-color .menu-item_disabled {
  color: rgba(255, 255, 255, 0.4); }

.menu_theme_alfa-on-color .menu-item_disabled .icon {
  opacity: .25; }

.menu_theme_alfa-on-color.menu_mode_radio .menu-item_checked:before, .menu_theme_alfa-on-color.menu_mode_radio-check .menu-item_checked:before {
  background-color: white; }

.menu_theme_alfa-on-color.menu_mode_check .menu-item_disabled.menu-item_checked:before, .menu_theme_alfa-on-color.menu_mode_radio .menu-item_disabled.menu-item_checked:before, .menu_theme_alfa-on-color.menu_mode_radio-check .menu-item_disabled.menu-item_checked:before {
  opacity: .25; }

.menu_theme_alfa-on-color .menu__group-title {
  color: rgba(255, 255, 255, 0.7); }

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.popup-header {
  position: relative;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Roboto Rouble', sans-serif; }

.popup-header__title {
  font-weight: 500;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center; }

.popup-header__closer {
  position: absolute;
  top: 0;
  left: 0; }

.popup-header_size_s {
  padding: 6px 48px;
  font-size: 13px; }

.popup-header_size_m {
  padding: 9px 48px;
  font-size: 16px; }

.popup-header_size_l {
  padding: 12px 48px;
  font-size: 18px; }

.popup-header_size_xl {
  padding: 11px 48px;
  font-size: 22px; }

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.select {
  display: inline-block;
  max-width: 100%;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Roboto Rouble', sans-serif;
  font-weight: 400; }

.select, .select *, .select *:before, .select *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.select__inner {
  position: relative;
  display: inline-table;
  vertical-align: top;
  width: 100%; }

.select_width_available .select__inner {
  table-layout: fixed; }

.select__top {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  transition-property: color, transform;
  transition-property: color, transform, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1); }

.select__sub {
  display: table-caption;
  caption-side: bottom;
  padding-top: 5px;
  padding-right: 12px;
  white-space: normal; }

.select_size_s .select__sub {
  font-size: 12px; }

.select_size_m .select__sub {
  font-size: 13px; }

.select_size_l .select__sub {
  font-size: 16px; }

.select_size_xl .select__sub {
  font-size: 18px; }

.select .select-button,
.select__native-control {
  display: table-cell; }

.select .select-button {
  overflow: hidden;
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Roboto Rouble', sans-serif;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: transparent;
  border: none;
  border-radius: 0;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-property: border-bottom-color, color, width, -webkit-box-shadow;
  transition-property: border-bottom-color, color, width, -webkit-box-shadow;
  transition-property: border-bottom-color, box-shadow, color, width;
  transition-property: border-bottom-color, box-shadow, color, width, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }

/* TODO @teryaew: add custom easings to styles */
.select .select-button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.select .select-button_size_s {
  min-height: 30px;
  padding-right: 30px;
  font-size: 13px;
  line-height: 28px; }

.select .select-button_size_m {
  min-height: 40px;
  padding-right: 34px;
  font-size: 16px;
  line-height: 38px; }

.select .select-button_size_l {
  min-height: 50px;
  padding-right: 44px;
  font-size: 18px;
  line-height: 48px; }

.select .select-button_size_xl {
  min-height: 60px;
  padding-right: 52px;
  font-size: 22px;
  line-height: 58px; }

.select .select-button_disabled {
  cursor: default; }

.select .select-button .icon-button_size_s {
  width: 24px; }

.select .select-button .icon-button_size_m {
  width: 30px; }

.select .select-button .icon-button_size_l {
  width: 34px; }

.select .select-button .icon-button_size_xl {
  width: 34px; }

.select__tick {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%; }

.select_disabled .select__tick {
  opacity: .25; }

.select_opened .select__tick,
.select-button_hovered .select__tick {
  opacity: 1; }

.select_width_available {
  width: 100%;
  min-width: 0; }

.select.select_no-tick .select__top,
.select.select_no-tick .select-button {
  padding-right: 0; }

.select__native-control {
  opacity: 0;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  height: 100%; }

.select__placeholder {
  opacity: 0;
  -webkit-transition: opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1); }

.select:not(.select_has-label) .select__placeholder,
.select.select_has-label.select_has-placeholder.select_opened .select__placeholder {
  opacity: 1; }

.select_size_s.select_has-label {
  padding-top: 9px; }

.select_size_s .select__top {
  font-size: 13px;
  line-height: 30px;
  padding-right: 30px; }

.select_size_s.select_has-placeholder.select_opened .select__top, .select_size_s.select_has-value .select__top {
  -webkit-transform: scale(0.92308) translateY(-22px);
  transform: scale(0.92308) translateY(-22px); }

.select_size_m.select_has-label {
  padding-top: 6px; }

.select_size_m .select__top {
  font-size: 16px;
  line-height: 40px;
  padding-right: 34px; }

.select_size_m.select_has-placeholder.select_opened .select__top, .select_size_m.select_has-value .select__top {
  -webkit-transform: scale(0.8125) translateY(-30px);
  transform: scale(0.8125) translateY(-30px); }

.select_size_l.select_has-label {
  padding-top: 14px; }

.select_size_l .select__top {
  font-size: 18px;
  line-height: 50px;
  padding-right: 44px; }

.select_size_l.select_has-placeholder.select_opened .select__top, .select_size_l.select_has-value .select__top {
  -webkit-transform: scale(0.88889) translateY(-40px);
  transform: scale(0.88889) translateY(-40px); }

.select_size_xl.select_has-label {
  padding-top: 13px; }

.select_size_xl .select__top {
  font-size: 22px;
  line-height: 60px;
  padding-right: 52px; }

.select_size_xl.select_has-placeholder.select_opened .select__top, .select_size_xl.select_has-value .select__top {
  -webkit-transform: scale(0.81818) translateY(-50px);
  transform: scale(0.81818) translateY(-50px); }

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.select_theme_alfa-on-color .select__top,
.select_theme_alfa-on-color .select__sub,
.select_theme_alfa-on-color .select__placeholder {
  color: rgba(255, 255, 255, 0.7); }

.select_theme_alfa-on-color .select-button {
  color: white;
  background: transparent;
  border-bottom-color: rgba(255, 255, 255, 0.4);
  border-bottom-style: solid;
  border-bottom-width: 1px; }

.select_theme_alfa-on-color .select-button_hovered {
  border-bottom-color: rgba(255, 255, 255, 0.9); }

.select_theme_alfa-on-color .select-button:focus,
.select_theme_alfa-on-color .select-button_focused {
  border-bottom-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.9); }

.select_theme_alfa-on-color .select-button:focus.select-button_hovered, .select_theme_alfa-on-color .select-button_focused.select-button_hovered {
  border-bottom-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.9); }

.select_theme_alfa-on-color .select-button_pressed {
  border-bottom-color: rgba(255, 255, 255, 0.9); }

.select_theme_alfa-on-color .select-button_disabled {
  color: rgba(255, 255, 255, 0.4);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-bottom-style: dashed; }

.select_theme_alfa-on-color.select_opened .select-button {
  border-bottom-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.9); }

.select_theme_alfa-on-color.select_invalid .select__sub {
  color: #ff5c5c; }

.select_theme_alfa-on-color.select_invalid .select-button {
  border-bottom-color: rgba(255, 92, 92, 0.85); }

.select_theme_alfa-on-color.select_invalid.select_opened .select-button {
  border-bottom-color: rgba(255, 92, 92, 0.85);
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 92, 92, 0.85);
  box-shadow: inset 0 -1px 0 rgba(255, 92, 92, 0.85); }

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.select_theme_alfa-on-white .select__top,
.select_theme_alfa-on-white .select__sub,
.select_theme_alfa-on-white .select__placeholder {
  color: rgba(11, 31, 53, 0.6); }

.select_theme_alfa-on-white .select-button {
  color: rgba(11, 31, 53, 0.95);
  background: transparent;
  border-bottom-color: rgba(11, 31, 53, 0.4);
  border-bottom-style: solid;
  border-bottom-width: 1px; }

.select_theme_alfa-on-white .select-button_hovered {
  border-bottom-color: rgba(11, 31, 53, 0.9); }

.select_theme_alfa-on-white .select-button:focus,
.select_theme_alfa-on-white .select-button_focused {
  border-bottom-color: rgba(11, 31, 53, 0.9);
  -webkit-box-shadow: inset 0 -1px 0 rgba(11, 31, 53, 0.9);
  box-shadow: inset 0 -1px 0 rgba(11, 31, 53, 0.9); }

.select_theme_alfa-on-white .select-button:focus.select-button_hovered, .select_theme_alfa-on-white .select-button_focused.select-button_hovered {
  border-bottom-color: rgba(11, 31, 53, 0.9);
  -webkit-box-shadow: inset 0 -1px 0 rgba(11, 31, 53, 0.9);
  box-shadow: inset 0 -1px 0 rgba(11, 31, 53, 0.9); }

.select_theme_alfa-on-white .select-button_pressed {
  border-bottom-color: rgba(11, 31, 53, 0.9); }

.select_theme_alfa-on-white .select-button_disabled {
  color: rgba(11, 31, 53, 0.3);
  border-bottom-color: rgba(11, 31, 53, 0.2);
  border-bottom-style: dashed; }

.select_theme_alfa-on-white.select_opened .select-button {
  border-bottom-color: rgba(11, 31, 53, 0.9);
  -webkit-box-shadow: inset 0 -1px 0 rgba(11, 31, 53, 0.9);
  box-shadow: inset 0 -1px 0 rgba(11, 31, 53, 0.9); }

.select_theme_alfa-on-white.select_invalid .select__sub {
  color: #ff5c5c; }

.select_theme_alfa-on-white.select_invalid .select-button {
  border-bottom-color: rgba(255, 92, 92, 0.85); }

.select_theme_alfa-on-white.select_invalid.select_opened .select-button {
  border-bottom-color: rgba(255, 92, 92, 0.85);
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 92, 92, 0.85);
  box-shadow: inset 0 -1px 0 rgba(255, 92, 92, 0.85); }

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.form {
  padding-bottom: 60px; }

.form:last-child {
  padding-bottom: 0; }

.form__footer {
  padding-top: 20px; }

.form_view_line.form_size_s .form__footer, .form_view_line.form_size_m .form__footer {
  padding-left: 115px; }

.form_view_line.form_size_l .form__footer, .form_view_line.form_size_xl .form__footer {
  padding-left: 165px; }

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.form-field_size_s {
  padding-bottom: 20px; }

.form-field_size_m {
  padding-bottom: 30px; }

.form-field_size_l,
.form-field_size_xl {
  padding-bottom: 35px; }

