/**
* Theme: Paper
* Author: Rohit kumar
* Description: A simple blog theme
* version: .5
* Happy blogging
**/
/*
Reset css
*/
.item {
  display: flex;
  justify-content: space-between;
}
.from {
  width: 100vw;
  max-width: 400px;
  margin: 0 auto;
}
